.vision{
    background: linear-gradient(#51af4e 75.2% , rgba(16, 35, 16, 0.3012));
    height: 468px;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}

.map-img{
    width: 459px;
    height: 238px;
    margin-left: -127px;
}

.vision-title{
    width: 236px;
    height: 44px;
    font-size: 40px;
    font-weight: var(--primaryFontWeight);
    line-height: 44px;
    color: white;
    margin-bottom: 25px;
}

.vision-statement{
    color: white;
    width: 383px;
    height: 176px;
    font-size: 32px;
    line-height: 35.2px;
}

.about-us {
    display: flex;
    justify-content: space-around;
    margin: 70px 0 150px;
}

.about-us-img{
    width: 567px;
    height: 346px;
}

.about-us-text-section-h3{
    text-align: center;
    height: 44px;
    font-size: 40px;
    font-weight: var(--primaryFontWeight);
    color: var(--primaryColor);
    line-height: 44px;
    margin-bottom: 50px;
}

.about-us-text-section-text{
    width: 474px;
    height: 176px;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: var(--secondaryColor);
}

.services-title{
    text-align: center;
    font-size: 40px;
    color: var(--secondaryColor);
    font-weight: var(--primaryFontWeight);
    line-height: 44px;
}

.services-section{
    display: flex;
    justify-content: space-around;
    margin: 50px 30px 150px 40px;
}

.service-section-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 392px;
    height: 261px;
    background-color: #c2eecc;
    border-radius: 16px;
    padding: 24px 17px;
}

.services-img{
    width: 161px;
    height: 52px;
    margin-bottom: 20px;
}

.service-section-p{
    height: 27px;
    font-size: 24px;
    font-weight: var(--primaryFontWeight);
    color: var(--secondaryColor);
    line-height: 26.4px;
}

.team{
    height: 675px;
    margin: 50px 0 100px;
    background-color: #1b3a1a;
}

.team-intro-p1{
    text-align: center;
    color: #fff;
    height: 44px;
    padding: 47px;
    font-size: 40px;
    font-weight: var(--primaryFontWeight);
    line-height: 44px;
}

.team-intro-p2{
    text-align: center;
    height: 80px;
    font-size: 24px;
    font-weight: var(--primaryFontWeight);
    line-height: 26.4px;
    color: #f8fbf8;
}

.team-leads{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.team-leads-img{
    width: 292px;
    height: 292px;
}

.team-leads-names{
    height: 36px;
    font-size: 32px;
    font-weight: var(--primaryFontWeight);
    line-height: 35.2px;
    text-align: center;
    color: #fff;
}

.team-leads-position{
    height: 22px;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: var(--primaryColor);
    text-align: center;
}