.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 310px;
    font-family: var(--primaryFontFamily);
}

.navLhs{
    margin-left: 100px;
}

.navRhs {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 65px;
}

.navUl a{
    text-decoration: none;
    font-size: 20px;
    color: var(--secondaryColor);
    line-height: 28px;
    font-weight: var(--primaryFontWeight);
}

.mr{
    margin-right: 20px;
}

.loginBtn{
    background-color: #f5f5f5;
    color: #367534;
    border: 1px solid #03781d;
    border-radius: 5px;
    width: 111px;
    height: 40px;
    padding: 6px;
    font-size: 14px;
    font-weight: var(--secondaryFontWeight);
    line-height: 20px;
}

.appBtn{
    color: white;
    padding: 6px;
    width: 111px;
    height: 40px;
    background-color: #12a454;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    font-size: 14px;
    font-weight: var(--secondaryFontWeight);
    line-height: 20px;
}