.membership-page{
    background: var( --primaryBackground);
    height: 3100px;
}

.plans-heading{
    background-color: #f4fbf7;
    width: 1030px;
    height: 211px;
    margin: 150px 10px 50px 190px;
}

.plans-text{
    width: 541px;
    height: 88px;
    font-weight: 600;
    line-height: 44px;
    font-size: 32px;
    color: #000;
    text-align: center;
    position: relative;
    top: 72px;
    left: 244px;
    font-family: var(--secondaryFontFamily);
}

.plans-options{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 0px 45px;
}

.plans-boxes{
    width: 512px;
    height: 1008px;
    border-radius: 10px;
    border: 1px solid var(--primaryColor);
    background-color: #fbfbfb;
    margin: 58px 20px;
    padding: 30px;
}

.plans-heading-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-type{
    color: #000;
    height: 36px;
    margin: 20px;
    font-size: 32px;
    font-weight: 600;
    line-height: 35.2px;
    font-family: var(--primaryFontFamily);
}

.plans-prices{
    height: 44px;
    font-size: 36px;
    line-height: 44px;
    font-weight: var(--primaryFontWeight);
    font-family: var(--secondaryFontFamily);
    color: var(--secondaryColor);
    margin-bottom: 20px;
}

.upgrade-btn{
    width: 315px;
    height: 68px;
    border: 1px solid #c5e4c4;
    padding: 8px 16px;
    background-color: #f8fbf8;
    color: var(--primaryColor);
    font-size: 24px;
    font-weight: var(--primaryFontWeight);
    line-height: 26.4px;
}

.plans-description-container{
    margin: 45px;
}

.plans-description-individual-container{
    display: flex;
    align-items: center;
}

.plans-description-img{
    margin: 20px;
    width: 21px;
    height: 21px;
}

.plans-description{
    width: 360px;
    height: 26px;
    font-size: 16px;
    color: var(--secondaryColor);
    font-weight: var(--primaryFontWeight);
    line-height: 25.2px;
    font-family: var(--secondaryFontFamily);
}